<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinfonIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <div class="shadow"></div>
        <div class="content">
            <div class="text-box" id="text-top">
                <span>Bienvenido a</span>
                <span>SinfonIA</span>
            </div>
            <div class="text-box" id="text-bottom">
                <span>Siente el poder de la música clásica en tus manos.</span>
                <button>Empezar</button>
            </div>
            <img id="airpods" src="{{ url_for('static', filename='airpods.svg') }}" alt="">
        </div>
    </div>
</body>

</html>